CREATE DATABASE QLNHANSU
On Primary
( Name=QLNHANSU_data, 
FileName='C:\QLNS_DB\QLNHANSU.mdf', -- DOI DUONG DAN ( NEU MUON )
Size=50MB, 
MaxSize= Unlimited, 
FileGrowth=10MB  
),
FILEGROUP QLNHANSU_FG1
 ( NAME = 'QLNHANSU_FG1_Dat1',
 FILENAME='C:\QLNS_DB\QLNHANSU_FG1_Dat1_01.ndf', -- DOI DUONG DAN ( NEU MUON )
 SIZE = 5MB,
 MAXSIZE=Unlimited,
 FILEGROWTH=1MB),
 ( NAME = 'QLNHANSU_FG1_Dat2',
 FILENAME ='C:\QLNS_DB\QLNHANSU_FG1_Dat1_01_02.ndf', -- DOI DUONG DAN ( NEU MUON )
 SIZE = 5MB,
 MAXSIZE=Unlimited,
 FILEGROWTH=10%)
Log On
( Name=QLNHANSU_log,
FileName='C:\QLNS_DB\QLNHANSU_log.ldf', -- DOI DUONG DAN
Size=50MB,
MaxSize=Unlimited,
FileGrowth=10MB
);

USE [QLNHANSU]
GO
/****** Object:  Table [dbo].[tb_BANGCONG]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGCONG](
	[IDBC] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[GIOVAO] [int] NULL,
	[PHUTVAO] [int] NULL,
	[GIORA] [int] NULL,
	[PHUTRA] [int] NULL,
	[MANV] [char](5) NULL,
	[IDLC] [int] NULL,
 CONSTRAINT [PK_tb_BANGCONG] PRIMARY KEY CLUSTERED 
(
	[IDBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BAOHIEM]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BAOHIEM](
	[IDBH] [int] IDENTITY(1,1) NOT NULL,
	[SOBH] [nvarchar](50) NULL,
	[NGAYCAP] [datetime] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[NOIDK] [nvarchar](50) NULL,
	[MANV] [char](5) NULL,
 CONSTRAINT [PK_tb_BAOHIEM] PRIMARY KEY CLUSTERED 
(
	[IDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BOPHAN]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BOPHAN](
	[IDBP] [int] IDENTITY(1,1) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[IDBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CHUCVU]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CHUCVU](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HOPDONG]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOPDONG](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYBAYDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[NGAYKY] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[LANKY] [int] NULL,
	[THOIHAN] [nvarchar](50) NULL,
	[HESOLUONG] [float] NULL,
	[MANV] [char](5) NULL,
 CONSTRAINT [PK_tb_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHENTHUONG_KYLUAT]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHENTHUONG_KYLUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOKTKL] [int] NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[NGAY] [datetime] NULL,
	[MANV] [char](5) NULL,
	[LOAI] [int] NULL,
 CONSTRAINT [PK_tb_KHENTHUONG_KYLUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LOAICA]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICA](
	[IDLOAICA] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICA] [nvarchar](50) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_tb_LOAICA] PRIMARY KEY CLUSTERED 
(
	[IDLOAICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LOAICONG]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICONG](
	[IDLC] [int] IDENTITY(1,1) NOT NULL,
	[TENLC] [nvarchar](50) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_tb_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[IDLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHANVIEN]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[HINHANH] [varbinary](max) NULL,
	[IDPB] [int] NULL,
	[IDBP] [int] NULL,
	[IDCV] [int] NULL,
	[IDTD] [int] NULL,
 CONSTRAINT [PK_tb_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHANVIEN_PHUCAP]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN_PHUCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [char](5) NULL,
	[IDPC] [int] NULL,
	[NGAY] [datetime] NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tb_NHANVIEN_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PHONGBAN]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHONGBAN](
	[IDPB] [int] IDENTITY(1,1) NOT NULL,
	[TENPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[IDPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PHUCAP]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHUCAP](
	[IDPC] [int] IDENTITY(1,1) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tb_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[IDPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TANGCA]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TANGCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[SOGIO] [float] NULL,
	[MANV] [char](5) NULL,
	[IDLOAICA] [int] NULL,
 CONSTRAINT [PK_tb_TANGCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TRINHDO]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TRINHDO](
	[IDTD] [int] IDENTITY(1,1) NOT NULL,
	[TENTD] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_UNGLUONG]    Script Date: 27/09/2022 8:26:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UNGLUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[SOTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[MANV] [char](5) NULL,
 CONSTRAINT [PK_tb_UNGLUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_tb_LOAICONG] FOREIGN KEY([IDLC])
REFERENCES [dbo].[tb_LOAICONG] ([IDLC])
GO
ALTER TABLE [dbo].[tb_BANGCONG] CHECK CONSTRAINT [FK_tb_BANGCONG_tb_LOAICONG]
GO
ALTER TABLE [dbo].[tb_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_BANGCONG] CHECK CONSTRAINT [FK_tb_BANGCONG_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_BAOHIEM]  WITH CHECK ADD  CONSTRAINT [FK_tb_BAOHIEM_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_BAOHIEM] CHECK CONSTRAINT [FK_tb_BAOHIEM_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_HOPDONG_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_HOPDONG] CHECK CONSTRAINT [FK_tb_HOPDONG_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_KHENTHUONG_KYLUAT]  WITH CHECK ADD  CONSTRAINT [FK_tb_KHENTHUONG_KYLUAT_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_KHENTHUONG_KYLUAT] CHECK CONSTRAINT [FK_tb_KHENTHUONG_KYLUAT_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_BOPHAN] FOREIGN KEY([IDBP])
REFERENCES [dbo].[tb_BOPHAN] ([IDBP])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_BOPHAN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_CHUCVU1] FOREIGN KEY([IDCV])
REFERENCES [dbo].[tb_CHUCVU] ([IDCV])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_CHUCVU1]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_PHONGBAN] FOREIGN KEY([IDPB])
REFERENCES [dbo].[tb_PHONGBAN] ([IDPB])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_PHONGBAN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_TRINHDO] FOREIGN KEY([IDTD])
REFERENCES [dbo].[tb_TRINHDO] ([IDTD])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_TRINHDO]
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP] CHECK CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_PHUCAP] FOREIGN KEY([IDPC])
REFERENCES [dbo].[tb_PHUCAP] ([IDPC])
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP] CHECK CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_PHUCAP]
GO
ALTER TABLE [dbo].[tb_TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_tb_TANGCA_tb_LOAICA] FOREIGN KEY([IDLOAICA])
REFERENCES [dbo].[tb_LOAICA] ([IDLOAICA])
GO
ALTER TABLE [dbo].[tb_TANGCA] CHECK CONSTRAINT [FK_tb_TANGCA_tb_LOAICA]
GO
ALTER TABLE [dbo].[tb_TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_tb_TANGCA_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_TANGCA] CHECK CONSTRAINT [FK_tb_TANGCA_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_UNGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_UNGLUONG_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_UNGLUONG] CHECK CONSTRAINT [FK_tb_UNGLUONG_tb_NHANVIEN]
GO

--

--Them cot MANQL vao bang NHANVIEN
ALTER TABLE tb_NHANVIEN
ADD MA_NQL CHAR(5);

ALTER TABLE tb_NHANVIEN
DROP COLUMN MA_NQL;
-- Them cot TRUONGPHONG vao bang PHONGBAN
ALTER TABLE tb_PHONGBAN
ADD TRUONGPHONG CHAR(5);
--Them rang buoc cua TRUONGPHONG voi MANV
ALTER TABLE [dbo].[tb_PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_tb_PHONGBAN_TRUONGPHONG_tb_NHANVIEN_MANV] FOREIGN KEY([TRUONGPHONG])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
--Them rang buoc cua MANQL voi MANV
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_MANQL_tb_NHANVIEN_MANV] FOREIGN KEY([MA_NQL])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV]);
--Function sinh tu dong MANV
CREATE FUNCTION AUTO_IDNV()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MANV) FROM tb_NHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANV, 3)) FROM tb_NHANVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NV0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END


ALTER TABLE DBO.tb_NHANVIEN
   ADD MANV CHAR(5) CONSTRAINT IDNV DEFAULT DBO.AUTO_IDNV()
       CONSTRAINT PK_NHANVIEN PRIMARY KEY CLUSTERED

-------



